{% extends 'base.html' %}
{% now "Y-m-d H:i" as tz %}
{% block content %}
    <!-- Business Detail Section-->
    <section class="gap-[3rem] flex flex-col justify-start landscape:max-md:mt-[0]">
        <!-- Banner Section  Div-->
        <article class="flex flex-col gap-7 items-center *:text-center">
            <img src="/media/{{ business.logo }}" alt="" class=" border-1 rounded-xl w-1/4 aspect-square">
            <div class="flex flex-col gap-4">
                <!-- Business Name-->
                <h2 class="text-3xl font-bold text-greninja md:text-3xl *:capitalize ">
                    <span class="text-black">{{ business.name }}</span>
                </h2>
                <!-- Business Punchline-->
                <p class="leading-7 text-xl">
                    {{ business.headline }}
                </p>
            </div>
            
        </article>
        <!-- Business Imgs-->
        <article class="max-h-50vh flex flex-row gap-base w-full overflow-x-auto scroll-smooth snap-x snap-mandatory ">
            {% for image in images_list %}
                <img src="/media/{{ image.image }}" alt="" class="object-fill object-center bg-greninja rounded-xl aspect-square flex-shrink-0  snap-start snap-always relative cursor-pointer w-11/12 md:w-1/4 landscape:max-md:w-5/12">
            {% endfor %}
        </article>

        <!-- Contact Article -->
        <article class="flex flex-col gap-7">
            <span class="text-black text-2xl font-bold mb-[0.33rem]"> 
                Get in Touch 
            </span>
            <div class="flex flex-col gap-4">
                {% if not business.instagram == "" %}
                    <div class="grid gap-4 grid-cols-[1fr_6fr] items-start">
                        <span class="w-full aspect-square bg-greninja rounded-xl flex justify-center items-center">Icon </span>
                        <p class="flex flex-col gap-1">
                            <span class="text-sm font-semibold">Instagram</span>
                            <span>{{ business.instagram }}</span>
                        </p>
                    </div>
                {% endif %}
                {% if not business.website == "" %}
                    <div class="grid gap-4 grid-cols-[1fr_6fr] items-start">
                        <span class="h-full aspect-square bg-greninja rounded-xl flex justify-center items-center">Icon </span>
                        <p class="flex flex-col gap-1 truncate">
                            <span class="text-sm font-semibold">Website</span>
                            <span class="">{{ business.website }}</span>
                        </p>
                    </div>
                {% endif %}
                {% if business.phone %}
                    <div class="grid gap-4 grid-cols-[1fr_6fr] items-start">
                        <span class="w-full aspect-square bg-greninja rounded-xl flex justify-center items-center">Icon </span>
                        <p class="flex flex-col gap-1">
                            <span class="text-sm font-semibold">Phone</span>
                            <span>{{ business.phone }}</span>
                        </p>
                    </div>
                {% endif %}
                <div class="grid gap-4 grid-cols-[1fr_6fr] items-start">
                    <span class="w-full aspect-square bg-greninja rounded-xl flex justify-center items-center">Icon </span>
                    <p class="flex flex-col gap-1">
                        <span class="text-sm font-semibold">Email</span>
                        <span>{{ business.email }}</span>
                    </p>
                </div>
            </div>
        </article>
        
        <!-- About Article -->
        <article class="flex flex-col gap-7">
            <span class="text-black text-2xl font-bold"> 
                About 
            </span>
            <div class="flex flex-col gap-4 text-base first:first-letter:font-bold first:first-letter:text-2xl">
                {{ business.description|linebreaks }}
            </div>
        </article>
        <article class="flex *:flex-grow gap-4 ">
            <a href="" class="bg-grey text-black p-4 w-auto rounded-xl flex justify-center gap-4"> Share </a>
            <a href="" class="p-4 w-auto bg-orange text-white font-bold rounded-xl flex justify-center gap-4"> Join BBUIUC</a>
        </article>
    </section>
{% endblock %}