{% extends 'base.html' %}

{% block content %}
    <!-- Hero Section-->
    <section class="flex flex-col justify-start ">
        <p class="uppercase text-3xl font-bold">Find</p>
        <p class="uppercase text-[2.7rem] leading-none font-bold text-orange">Black-Owned</p>
        <p class="uppercase text-3xl font-bold">Businesses @ UIUC</p>
        <div class="flex flex-row border-b border-1 items-center relative mt-xl">
            <input type="text" class=" rounded-sm w-full p-4" placeholder="Search by name, category, or service"/>
            <span class="w-[30px] h-[30px] bg-greninja absolute right-2"></span>
        </div>
    </section>
    <!-- Featured Businesses-->
     <section class="my-3xl w-full bg-orange overflow-x-auto">
        <p class="m-0 text-xl font-bold text-greninja">
            <span class="text-greninja">Featured</span> 
            <span class="text-[black]">Businesses</span>
        </p>
        <div class="flex flex-row flex-auto flex-nowrap  mt-lg gap-4">
            <article class="flex flex-col min-w-0 overflow-hidden">
                <img src="" alt="" class="bg-greninja rounded-tl-xl rounded-tr-xl w-full border aspect-square">
                <div class="p-lg px-base border rounded-bl-xl rounded-br-xl">
                    <span class="text-base font-bold">Reese Sites</span>
                    <p class="mt-base">
                        Custom Websites Built for Growth.
                        Integrated payments, dashboards,
                        and data tools that give your
                        business the digital infrastructure to
                        scale.
                    </p>
                </div>
            </article>
            <article class="flex flex-col  min-w-0 overflow-hidden">
                <img src="" alt="" class="bg-greninja rounded-tl-xl rounded-tr-xl w-full border aspect-square">
                <div class="p-lg px-base border rounded-bl-xl rounded-br-xl">
                    <span class="text-base font-bold">Reese Sites</span>
                    <p class="mt-base">
                        Custom Websites Built for Growth.
                        Integrated payments, dashboards,
                        and data tools that give your
                        business the digital infrastructure to
                        scale.
                    </p>
                </div>
            </article>
        </div>
     </section>
    
{% endblock %}