{% extends 'base.html' %}

{% block content %}
    <!-- Hero Section-->
    <section class="flex flex-col justify-start mb-3xl">
        <p class="uppercase text-3xl font-bold">Find</p>
        <p class="uppercase text-[2.7rem] leading-none font-bold text-orange">Black-Owned</p>
        <p class="uppercase text-3xl font-bold">Businesses @ UIUC</p>
        <div class="flex flex-row border-b border-1 items-center relative mt-xl">
            <input type="text" class=" rounded-sm w-full p-4" placeholder="Search by name, category, or service"/>
            <span class="w-[30px] h-[30px] bg-greninja absolute right-2"></span>
        </div>
    </section>
    <p class="mb-lg text-xl font-bold text-greninja">
            <span class="text-greninja">Featured</span> 
            <span class="text-[black]">Businesses</span>
    </p>
    <!-- Featured Businesses-->
     <section class="flex flex-row gap-base w-full overflow-x-auto scroll-smooth snap-x snap-mandatory">
        <article class=" flex-shrink-0 w-11/12 flex flex-col snap-start snap-always">
            <img src="" alt="" class="bg-greninja rounded-tl-xl rounded-tr-xl border aspect-square">
            <div class="p-lg px-base border rounded-bl-xl rounded-br-xl">
                <span class="text-base font-bold">Reese Sites</span>
                <p class="mt-base">
                    Custom Websites Built for Growth.
                    Integrated payments, dashboards,
                    and data tools that give your
                    business the digital infrastructure to
                    scale.
                </p>
            </div>
        </article>
        <article class=" flex-shrink-0 w-11/12 flex flex-col snap-start snap-always">
            <img src="" alt="" class="bg-greninja rounded-tl-xl rounded-tr-xl border aspect-square">
            <div class="p-lg px-base border rounded-bl-xl rounded-br-xl">
                <span class="text-base font-bold">Reese Sites</span>
                <p class="mt-base">
                    Custom Websites Built for Growth.
                    Integrated payments, dashboards,
                    and data tools that give your
                    business the digital infrastructure to
                    scale.
                </p>
            </div>
        </article>
        <article class=" flex-shrink-0 w-11/12 flex flex-col snap-start snap-always">
            <img src="" alt="" class="bg-greninja rounded-tl-xl rounded-tr-xl border aspect-square">
            <div class="p-lg px-base border rounded-bl-xl rounded-br-xl">
                <span class="text-base font-bold">Reese Sites</span>
                <p class="mt-base">
                    Custom Websites Built for Growth.
                    Integrated payments, dashboards,
                    and data tools that give your
                    business the digital infrastructure to
                    scale.
                </p>
            </div>
        </article>
        
     </section>
    
{% endblock %}