<!-- Header -->
<h2 class="text-3xl font-bold text-greninja md:text-3xl *:capitalize leading-12">
    <span class="text-black">Add </span>
    <span class="text-orange">Your Business</span> 
</h2>

<p class="leading-7 text-lg">
    All businesses can be listed on the platform for
    free. Fill out this quick form to get started.
</p>
<!-- Form Progress Indicator-->
<div class="flex gap-2 mb-2">
    <span class="w-full h-3 bg-greninja"></span>
    <span class="w-full h-3 bg-grey"></span>
    <span class="w-full h-3 bg-grey"></span>
    <span class="w-full h-3 bg-grey"></span>
</div>
<form action="" method="POST" class="flex flex-col gap-6 ">
    {% csrf_token %}
    <label for="name" class="flex flex-col gap-2">
        <span class="after:content-['*'] after:ml-1 after:text-orange relative">Business Name</span>
        <input 
            type="text" 
            id="name" 
            name="name" 
            class="p-4 bg-grey rounded-xl {% if "Name" in form_errors %} border-orange border-2 {% endif %}" 
            placeholder="What's the name of your business?">
        {% if "Name" in form_errors and "equired" in form_errors %} 
            <span class="text-orange text-sm">This field is required</span>
        {% elif "aken" in form_errors %}
            <span class="text-orange text-sm">This name is taken already</span>
        {% endif %}
    </label>
    <label for="description" class="flex flex-col gap-2">
        <span class="after:content-['*'] after:ml-1 after:text-orange relative ">Short Bio</span>
        <textarea name="description" id="description" 
            class="p-4 bg-grey rounded-xl {% if "Description" in form_errors and "equired" in form_errors %}border-orange border-2 {% endif %}" 
            placeholder="Briefly tell us about your business"></textarea>
        {% if "Description" in form_errors and "equired" in form_errors %} 
            <span class="text-orange text-sm">This field must be at least 10 characters long</span>
        {% endif %}
    </label>
    <button type="submit" class="mt-4 rounded-xl flex justify-center items-center  p-4 py-6 border-2 border-grey from-darkteal to-greninja bg-gradient-to-tr text-white group transition-all duration-200 hover:border-white text-base md:text-lg font-bold ">
    Continue              
    </button>
</form>