@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set all body text to specified black */
body {
    c--tw-text-opacity: 1;
    color: rgb(59 70 71 / var(--tw-text-opacity, 1));
}

/* Creating a custom no-scrollbar utility */
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display:none; /* Hide on Chrome */
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}